/* おまじない */
@charset "UTF-8";

/* notosans適用*/
body {
  font-family: 'Noto Sans', sans-serif;
}

/* container1にて表示範囲指定 */
header {
  max-width: 1000px;
  margin: 50px auto 10px auto;
}

header img{
  width: 180px;
}

/* メインビジュアルの最大サイズを親要素の100%に指定
これをしないと画面サイズに合わせて拡大縮小しない */
#mainvisual{
  width: 1000px;
  margin: 10px auto 20px auto;
  max-width: 100%;
  height: auto;
}

/* ここにmargin0 auto入れればメインビジュアル以外全て中央揃えになる */
.container2{
  max-width: 80%;
  padding-bottom: 60px;
  margin: 0 auto;
}

#index{
  background-color: lightgrey;
  padding-bottom: 75px;
}

h2{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  padding: 50px 0 30px 0;
}

/* borderはbottomやtopを指定しなければ全方向に線を引ける */
/* ID指定したほうがわかりやすいよねこのhtmlってcontainer2が3つあるしね */
#index ol {
  margin: 0 auto;                   /* リスト全体を中央にはいち*/
  border: 1px solid black;     
  margin: 0 50px;
  padding: 5% 10%;
  }


/* list-style-insiteでブロック要素の左ではなく、項目名のすぐ左に数字を表示 */
/* decimalはreset_cssでnoneとなった数字を表示させる項目を再度表示させる */
#index li {
  width: 100%;
  list-style-type: decimal;         /* 番号付きリスト */
  list-style-position: inside;      /* 番号をリスト項目の内側に表示 */
  text-align: left;                 /* テキストを左揃えに */
  margin: 15px auto;                
}


#PHOTO{
  margin-top: 70px;
}

.img13{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 最大幅はpx指定 */
  max-width: 800px;
  /* margin: 50px auto; */

}
#PHOTO img{
  width: 47.5%;
}

.gazou{
  margin-top: 30px;
}

/* レスポンシブ*/
/* flex-flowで縦積みする */

@media screen and (max-width:1024px){
  .img13{
     flex-flow: column;    
   }
  }

#DETAIL{
  max-width: 80%;
background-color: lightgray;
margin: 50px auto;
}

/* gapはコンテンツ同士の間隔を開ける。marginを使用しない方法
★野崎先生質問内容★
flexは出来たけどflexbasisが全くきかなかった。why

.info{
  display: flex;
  flex-basis:50%;
}

.info1 .info2{
  flex:1;
  min-width: 0;
  
}  */

/* 追加で調べて別方式を使用 */

.info {
  display: flex;
  margin: 0 auto;
}

/* レスポンシブ*/
/* flex-flowで縦積みする */

/* @media screen and (max-width:1024px){
  .info{
     flex-flow: column;
   } */

/* 子要素に直接flex-basis 
どっちも一緒に出来なかったっけこれ？*/

.info1{
flex-basis: 40%;
margin-left: 50px;

} 

.info2 {
  flex-basis: 60%;
  padding-left: 50px;
  border-left: 1px solid black;
}

dt{
  width: 250px;
}

dd{
  margin-bottom: 20px;
  width: 250px;
}

p{
  margin-bottom: 30px;
  width: 380px;
}

/* aタグはmargin効かないっぽい */
a{
  border-bottom: 1px solid black;
}

h6{
  text-align: center;
}